@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  transition: 0.5s;
}
body {
  background: url(img/background.svg) fixed;
  font-family: "Amatic SC";
  width: 100%;
}
.username {
  cursor: pointer;
}
.username:hover + .logout_block {
  display: block;
}
.logout_block button {
  background-color: #f92c85;
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Amatic SC";
  width: 80px;
  margin-top: 10px;
}
.logout_block button:hover {
  background-color: red;
}

.auth_block {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  text-align: center;
  width: 52%;
  height: 600px;
  background-color: #5ebec4;
  border-radius: 5px;
  font-size: 64px;
  color: #fff;
}
.auth_block img {
  margin-top: 30px;
}

.data_input {
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  height: 50px;
  border: none;
  margin-top: 50px;
  font-size: 25px;
  padding-left: 10px;
}
.auth_btn {
  margin-top: 50px;
  background-color: #f92c85;
  color: #fff;
  font-family: "Amatic SC";
  border-radius: 10px;
  font-size: 48px;
  border: none;
  width: 50%;
  cursor: pointer;
  font-weight: 700;
}
.auth_btn:hover {
  background-color: #fff;
  color: #f92c85;
}

/* admin home */
.admin_header {
  height: 100px;
  width: 100%;
  background-color: #5ebec4;
  color: black;
  display: flex;
  align-items: center;
}
.toolbar {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 15px;
  margin-right: 0px;
}
.toolbar a {
  color: black;
  font-size: 36px;
  text-decoration: none;
  font-weight: 700;
}
.toolbar a:hover {
  text-decoration: underline;
}
.admin_header img {
  width: 80px;
  margin-left: 325px;
}
.admin_header p {
  font-size: 36px;
  font-weight: 700;
  margin-right: 15px;
}
.admin_home-content {
  width: 40%;
  text-align: center;
}
.title_content {
  font-size: 128px;
  font-weight: 700;
}
.new_task {
  width: 100%;
  min-height: 630px;
  background-color: #5ebec4;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 36px;
  font-weight: 700;
}
.new_task-form {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.save_button {
  padding: 50px;
  margin-bottom: 100px;
}
.save_button button {
  background-color: #f92c85;
  font-size: 30px;
  font-family: "Amatic SC";
  border: none;
  border-radius: 10px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  width: 80%;
}
.save_button button:hover {
  background-color: #fff;
  color: #f92c85;
}
.new_task-form p {
  margin-top: 15px;
}
.select_new_task {
  width: 100%;
  border-radius: 10px;
  height: 40px;
  border: none;
}
.textarea_new_task {
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 130px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.date_new_task {
  display: flex;
  margin-top: 30px;
  width: 100%;
}
.startdate_new_task {
  margin-left: 0px;
}
.startdate_new_task input {
  border-radius: 5px;
  font-size: 19px;
  border: none;
}
.enddate_new_task {
  margin-right: 0px;
}
.enddate_new_task input {
  border-radius: 5px;
  font-size: 19px;
  border: none;
}
.new_task-btn {
  margin-top: 50px;
  width: 50%;
  color: #fff;
  background-color: #f92c85;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 35px;
  font-family: "Amatic SC";
  margin-bottom: 10px;
}
.new_task-btn:hover {
  color: #f92c85;
  background-color: #fff;
}

/* pets */
.pets_content {
  width: 60%;
  text-align: center;
}
.btn_href-pets {
  width: 300px;
  color: #fff;
  background-color: #f92c85;
  border: none;
  border-radius: 10px;
  font-family: "Amatic SC";
  margin-top: 40px;
  font-size: 40px;
  cursor: pointer;
}
.btn_href-pets:hover {
  color: #f92c85;
  background-color: #fff;
}
.table_pets {
  width: 100%;
  margin-top: 25px;
  background-color: #5ebec4;
  min-height: 300px;
  border-radius: 5px;
}
.table_pets-table {
  width: 95%;
  padding: 20px;
  border: none;
}
.tr_pets {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}
.tr_pets th {
  border: 1px solid black;
}
.td_pets {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
  padding: 15px;
}

/* new pet */
.new_pet_content {
  width: 40%;
  text-align: center;
}

/* users */
.user_photo {
  cursor: pointer;
  width: 100px;
}
.user_photo:hover {
  transform: scale(3);
}

/* new user */
.new_user-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}
.new_user-form p {
  margin-top: 30px;
}
.new_user-form input {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

/* home */
.task_container-home {
  width: 95%;
  min-height: 300px;
  background-color: #5ebec4;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 50px;
  font-family: "Courier New", Courier, monospace;
}
.date_namepet {
  display: flex;
}
.date_start-home,
.date_end-home {
  font-size: 30px;
}
.name_pet-home {
  font-size: 40px;
  font-family: "Amatic SC";
  font-weight: 700;
}
.task-task_container {
  margin-top: 5%;
  font-size: 30px;
}
.pet_features-task {
  margin-top: 5%;
  font-size: 30px;
}
.task_completed {
  margin-top: 10%;
}
.non_work {
  font-size: 50px;
}

@media screen and (width < 1910px) {
  .admin_header img {
    display: none;
  }
}
@media screen and (width < 1848px) {
  .pets_content {
    width: 90%;
  }
}
@media screen and (width < 1300px) {
  .pets_content {
    width: 100%;
  }
  .tr_pets {
    font-size: 17px;
  }
  .td_pets {
    font-size: 17px;
  }
}
@media screen and (width < 1050px) {
  .admin_home-content,
  .new_pet_content {
    width: 85%;
  }
}

@media screen and (width < 830px) {
  .breed_pets {
    display: none;
  }
}
@media screen and (width < 790px) {
  .phohtoTable_user {
    display: none;
  }
}

@media screen and (width < 750px) {
  .seventeen_none_display {
    display: none;
  }
}
@media screen and (width < 730px) {
  .admin_header {
    height: 300px;
    flex-direction: column;
  }
  .toolbar {
    flex-direction: column;
    gap: 15px;
  }
  .admin_header p {
    margin: 0 auto;
  }
  .btn_href-pets {
    font-size: 30px;
    width: 200px;
  }
  .birthsday_pets {
    display: none;
  }
  .task_container-home {
    width: 80%;
  }
  .date_namepet {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (width < 650px) {
  .dateBirth_user,
  .adress_user {
    display: none;
  }
  .age_pets {
    display: none;
  }
}

@media screen and (width < 501px) {
  .auth_block {
    width: 95%;
  }
  .title_content {
    font-size: 60px;
  }
  .date_new_task {
    flex-direction: column;
  }
  .startdate_new_task {
    margin: 0 auto;
  }
  .enddate_new_task {
    margin: 0 auto;
  }
  .features_pets {
    display: none;
  }
  .task_container-home {
    width: 90%;
  }
}

@media screen and (width < 401px) {
  .fourteen_none_display {
    display: none;
  }
  .task_container-home {
    width: 85%;
    padding: 0 auto;
  }
}

@media screen and (width < 382px) {
  .Experience_users {
    display: none;
  }
}
